{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center">
        <h1>Administration</h1>
    </div>
    <div class="container">
        <h2 id="parambot">Paramètre bot</h2>
        <hr>
        <h3>Questions de Recrutement</h3>
        <a href="/admin/bot/add-question" class="btn btn-primary">+ Ajouter une Question</a>
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            {% for q_r in q_recruit %}
                <tr>
                    <td>{{ q_r.id }}</td>
                    <td>{{ q_r.question }}</td>
                    <td>Recrutement</td>
                    <td><a href="/admin/bot/update/{{ q_r.id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="/admin/bot/delete/{{ q_r.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h3>Questions Technologiques</h3>
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            {% for t_r in t_recruit %}
                <tr>
                    <td>{{ t_r.id }}</td>
                    <td>{{ t_r.question }}</td>
                    <td>Techniques</td>
                    <td><a href="/admin/bot/update/{{ t_r.id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="/admin/bot/delete/{{ t_r.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <hr >
        <h2 id="paramuser">Paramètre utilisateur</h2>
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Facebook ID</th>
                <th>Numéro Téléphone</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for u in users %}
                <tr>
                    <td>{{ u.idUsers }}</td>
                    <td>{{ u.firstName }}</td>
                    <td>{{ u.lastName }}</td>
                    <td>{{ u.mail }}</td>
                    <td>{{ u.idFacebook }}</td>
                    <td>{{ u.phoneNumber }}</td>
                    <td>{{ u.status }}</td>
                    <td>
                        <a href="/admin/profile/{{ u.idUsers }}"><span class="glyphicon glyphicon-calendar"></span></a>
                        <a href="/admin/user/delete/{{ u.idUsers }}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}