{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Fiche Candidat</h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="/assets/default-user-image.png" width="75%"/>
            </div>
            <div class="col-lg-4">
                <ul style="list-style-type: none;">
                    <li><strong>Nom : </strong> {{ user.firstName }}</li>
                    <li><strong>Prénom : </strong> {{ user.lastname }}</li>
                    <li><strong>Téléphone : </strong> {{ user.phoneNumber }}</li>
                    <li><strong>Mail : </strong> {{ user.mail }}</li>
                    <li><strong>Etat : </strong> {{ user.status }}</li>
                    <li><strong><span class=" glyphicon glyphicon-calendar"></span> : </strong></li>
                </ul>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-success"><span></span>Contacter le candidat</button>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}